Program to create series

In [ ]:
import pandas as pd # Import Panda Library

# Program to Create series with scalar values
Data =[1, 3, 4, 5, 6, 2, 9] # Numeric data
# Creating series with default index values
s = pd.Series(Data)
print(s)
# predefined index values
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']
# Create series with Data, and Index
a = pd.Series(Data, index = Index)
a

0    1
1    3
2    4
3    5
4    6
5    2
6    9
dtype: int64

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64

Converting Pandas Series to Python list

In [ ]:
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series")
print(ds)
print("Convert Pandas Series to Python list")
ds.tolist()

Pandas Series
0     2
1     4
2     6
3     8
4    10
dtype: int64
Convert Pandas Series to Python list

[2, 4, 6, 8, 10]

Program to Create Dictionary into Series

In [ ]:
dictionary ={'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}
# Creating series of Dictionary type
sd = pd.Series(dictionary)
sd

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

Program to Create ndarray series

In [ ]:
Data =[[2, 3, 4], [5, 6, 7]] # Defining 2darray
print(Data)
# Creating series of 2darray
snd = pd.Series(Data)
snd

[[2, 3, 4], [5, 6, 7]]

0    [2, 3, 4]
1    [5, 6, 7]
dtype: object

Program to Create DataFrame

In [ ]:
import pandas as pd
# Import Library
a = pd.DataFrame(Data)
a

   0  1  2
0  2  3  4
1  5  6  7

converting multiple dictionaries into pandas data frame

In [ ]:
dict1 ={'a':35.2,'b':47,'c':77,'d':49} # Define Dictionary 1
dict2 ={'a':53,'b':69,'c':79,'d':81,'e':91} # Define Dictionary 2
dict3 ={'a':56,'b':98,'c':77,'d':81,'e':90} # Define Dictionary 3
Data = {'Maths':dict1, 'Physics':dict2,'Chemistry': dict3} # Define Data with dict1
df = pd.DataFrame(Data)
df

   Maths  Physics  Chemistry
a   35.2       53         56
b   47.0       69         98
c   77.0       79         77
d   49.0       81         81
e    NaN       91         90

Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [ ]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Numpyt example program

In [ ]:
import numpy as np
 
np.random.seed(0)	# seed for reproducibility

x1 = np.random.randint(100, size=6)	# One-dimensional array
x2 = np.random.randint(100, size=(3, 4))	# Two-dimensional array
x3 = np.random.randint(100, size=(3, 4, 5))	# Three-dimensional array print(x1)
print(x2) 
print(x3)